body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 48px;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

.description {
  display: block;
  text-align: center;
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 4px 0;
}

a {
  font-size: 24px;
  color: #000099;
  text-decoration: none;
  position: relative;
  display: inline-block;
  &:link,
  &:visited,
  &:active {
    color: #000099;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #000099;
    transition: 0.4s;
  }
  &:hover {
    cursor: pointer;
    color: #000099;
    &:after {
      width: 100%;
    }
  }
}

#canvas1,
#canvas2 {
  display: block;
}

.chartWrapper {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
